asgiref==3.11.1
cloudinary
Django==5.2.14
dj-database-url
django-cloudinary-storage
django-markdownx
django-markdownify
django-storages==1.14.6
django-taggit==6.1.0
gunicorn
packaging==26.0
pillow==12.2.0
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-decouple==3.8
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
whitenoise
python-frontmatter
