<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Logbook{% endblock %}</title>

    <!-- Tailwind CSS v4 -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    <h1 class="text-3xl font-bold text-red-500">Tailwind works</h1>

    <button 
        hx-get="/htmx-test/" 
        hx-target="#result">
        Test HTMX
    </button>

    <div id="result"></div>
    {% block content %}
    {% endblock %}

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</body>
</html>
